<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeblog</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/c169e6af85.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img src="../img/Logo-removebg.png" alt="Logotipo">
        <nav class="buscadorgeneral">
            <form action="buscar" method="get" class="buscador">
                <input type="text" name="busqueda" placeholder="Buscar...">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Sobre mí</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="contenido">
            <article> 
                <a href="#"><h2>Introducción a la Programación Web: Fundamentos y Tendencias Actuales</h2></a>
                <p>La programación web es una de las habilidades más demandadas en la actualidad, impulsada por la creciente necesidad de desarrollar aplicaciones y sitios web interactivos y funcionales. En este artículo, exploraremos los fundamentos de la programación web, así como algunas tendencias actuales que están moldeando el futuro de este campo.</p>
                <img src="../img/Python.jpeg" alt="ImagenIlustrativa">
            </article>
            <article>
                <a href="#"><h2>La Inteligencia Artificial y su Impacto en la Sociedad Moderna</h2></a>
                <p>La Inteligencia Artificial (IA) ha emergido como una de las tecnologías más transformadoras del siglo XXI. Su capacidad para aprender, razonar y tomar decisiones ha revolucionado múltiples sectores, desde la salud hasta la educación y la economía. Este artículo explorará cómo la IA está impactando nuestras vidas y el potencial que tiene para el futuro.</p>
                <img src="../img/RedNeuronal.jpeg" alt="ImagenIlustrativa">
            </article>
            <article>
                <a href="#"><h2> Review la Nvidia GeForce RTX 4090</h2></a>
                <p>En el competitivo mundo de las tarjetas gráficas, Nvidia ha dado un paso significativo con el lanzamiento de su última tarjeta gráfica, la GeForce RTX 4090. En este artículo, exploraremos las características de esta tarjeta de video de alto rendimiento, su desempeño en diversos escenarios y su impacto en el mercado actual.</p>
                <img src="../img/RTX4090.jpeg" alt="ImagenIlustrativa">
            </article>
        </section>
        <aside class="barra-lateral">
            <div class="sobremi">
                <h3>Sobre mí</h3>
                <p>Galetto Martin es un aficionado a la tecnologia que ha decidido abrir un blog con el objetivo de mostrar las maravillas de la misma</p>
            </div>
            <div class="articulosrecientes">
                <h3>Artículos Recientes</h3>
                <ul>
                    <li><a href="#">Introducción a la Programación Web: Fundamentos y Tendencias Actuales</a></li>
                    <li><a href="#">La Inteligencia Artificial y su Impacto en la Sociedad Moderna</a></li>
                    <li><a href="#">Review la Nvidia GeForce RTX 4090</a></li>
                </ul>
            </div>
            <div class="redes">
                <a href="https://www.instagram.com/martingaletto15/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/MartinGaletto15" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.facebook.com/Martingaletto15" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
        </aside>
    </main>
    <footer>
        <p>© 2024 Galeblog. Todos los derechos reservados.</p>
        <a href="#">Politica de privacidad</a>
    </footer>
</body>
</html>