*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 244, 245);
}

.facebook{
    float: left;
    margin-top: 10%;
    margin-left: 25%;
    width: 500px;
    font-size: 20px;
}

.facebook h1{
    color: #1877f2;
    font-size: 54px;
}

.formularios{
    float: right;
    margin-top: 7%;
    margin-right: 25%;
    width: 400px;
    height: 300px;
    border-radius: 3px;
}

form{
    box-shadow: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5%;
    text-align: center;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.05); /* Sobra de el form */
}

form a{
    color: #1877f2;
    background-color: #ffffff;
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.formularios p{
    font-size: 14px;
}

input{
    border: solid 1px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

.boton_inicio{
    background-color: #1877f2;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.boton_inicio:hover{
    background-color: #0b5ac3;
    cursor: pointer;
}

.boton_crear{
    background-color: rgb(93, 191, 76);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    width: 60%;
}

.boton_crear:hover{
    background-color: rgb(45, 165, 24);
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.link:hover{
    text-decoration: underline;
}