<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/CSSClasePractica1-3.css">
    <title>Document</title>
</head>
<body>
    <header class="encabezado">
        <h1>encabezado</h1>
    </header>

    <div>
        <div class="izquierda">
            <nav>
                <ul>
                    <li>
                        <a rel="stylesheet" href="#uno">Primer parrafo</a>
                    </li>
                    <li>
                        <a rel="stylesheet" href="#dos">Primer parrafo</a>
                    </li>
                    <li>
                        <a rel="stylesheet" href="#tres">Primer parrafo</a>
                    </li>
                    <li>
                        <a rel="stylesheet" href="#cuatro">Primer parrafo</a>
                    </li>
                </ul>
                <a href="https://www.google.com/">Google</a>
            </nav>
        </div>
        <div class="derecha">
            <p id="uno">Parrafo 1 <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quasi deserunt ipsam temporibus aut totam dolorum possimus voluptatem architecto minus perspiciatis sint dolor quae, sit ratione voluptatibus enim omnis laudantium quaerat tenetur vel recusandae iure magnam? Ullam quisquam obcaecati aspernatur numquam deserunt eum ipsam perspiciatis, incidunt quas et velit, similique rerum tenetur. Aspernatur temporibus corporis quis nisi, veritatis explicabo ad cupiditate ipsa. Excepturi vero repudiandae consectetur sit aliquid incidunt eveniet error quos distinctio laboriosam adipisci culpa enim corrupti tenetur corporis aliquam, ratione unde amet placeat odit nulla aperiam beatae voluptatibus! Id pariatur eligendi earum error iure, aspernatur alias quo voluptate!</p>
            <p id="dos">Parrafo 2 <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quas voluptatum itaque asperiores autem fugit obcaecati nemo voluptates, aliquid fugiat enim reiciendis temporibus voluptatem eum quis ex impedit tenetur quibusdam laudantium quidem excepturi? Quaerat fugiat optio dolor quis? Quo, odit. Maxime temporibus, libero qui, quaerat dignissimos maiores id hic ex dolore officia autem. Numquam quisquam rerum expedita voluptas facilis recusandae consectetur pariatur repellat nihil? Totam libero architecto ad sapiente exercitationem repellat, doloremque eaque impedit reprehenderit cupiditate minima eius nulla praesentium quibusdam aliquid! Nulla nobis fugiat laudantium animi nesciunt excepturi maxime, quod laboriosam non voluptates corporis odio atque, aliquam laborum velit!</p>
            <p id="tres">Parrafo 3 <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quas voluptatum itaque asperiores autem fugit obcaecati nemo voluptates, aliquid fugiat enim reiciendis temporibus voluptatem eum quis ex impedit tenetur quibusdam laudantium quidem excepturi? Quaerat fugiat optio dolor quis? Quo, odit. Maxime temporibus, libero qui, quaerat dignissimos maiores id hic ex dolore officia autem. Numquam quisquam rerum expedita voluptas facilis recusandae consectetur pariatur repellat nihil? Totam libero architecto ad sapiente exercitationem repellat, doloremque eaque impedit reprehenderit cupiditate minima eius nulla praesentium quibusdam aliquid! Nulla nobis fugiat laudantium animi nesciunt excepturi maxime, quod laboriosam non voluptates corporis odio atque, aliquam laborum velit!</p>
            <p id="cuatro">Parrafo 4 <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quas voluptatum itaque asperiores autem fugit obcaecati nemo voluptates, aliquid fugiat enim reiciendis temporibus voluptatem eum quis ex impedit tenetur quibusdam laudantium quidem excepturi? Quaerat fugiat optio dolor quis? Quo, odit. Maxime temporibus, libero qui, quaerat dignissimos maiores id hic ex dolore officia autem. Numquam quisquam rerum expedita voluptas facilis recusandae consectetur pariatur repellat nihil? Totam libero architecto ad sapiente exercitationem repellat, doloremque eaque impedit reprehenderit cupiditate minima eius nulla praesentium quibusdam aliquid! Nulla nobis fugiat laudantium animi nesciunt excepturi maxime, quod laboriosam non voluptates corporis odio atque, aliquam laborum velit!</p>
        </div>
    </div>
    
    <footer class="pie">
        <h1>Pie de pagina</h1>
    </footer>
</body>
</html>