<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/CSSClasePractica1-2.css">
    <title>Document</title>
</head>
<body>
    <div class="div-ancho">
        <p class="parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam nisi minima dicta cum, corporis ipsam unde fugit esse inventore quos, similique repudiandae? Rerum odit sapiente perferendis laborum accusamus, ut iure fuga ex, nam doloribus, eius optio nisi dignissimos corrupti. Omnis qui, ratione porro ex cupiditate necessitatibus excepturi debitis ullam aperiam nesciunt, sunt corporis ad voluptatem ipsa perspiciatis nulla suscipit in quisquam, repudiandae enim voluptas placeat quaerat nemo? Vel earum, at dolores accusamus quia rem ducimus perferendis tempore aspernatur aliquid, vitae ipsa debitis, adipisci nulla quae quod repudiandae voluptatum nesciunt ratione eos rerum. Expedita neque sapiente inventore dignissimos! Similique, id quidem?</p>
    </div>
</body>
</html>