<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><i><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam libero dolores corporis, sit illo nisi laboriosam est omnis dolorum optio voluptatem dolore harum atque animi deleniti vel reiciendis? Tempora illum laboriosam cum assumenda minus illo, sit ullam voluptatibus inventore accusamus molestias rem ut ex blanditiis, ad, porro quis iure laborum!</b></i></p>
    <p><i><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio fuga consectetur quae minus similique quisquam labore enim architecto odit blanditiis, at reiciendis dolorem voluptas animi, nisi dicta neque repudiandae exercitationem magnam laudantium! Sed voluptate, enim illo perspiciatis consequatur officiis veniam ut officia, labore non amet, fugiat perferendis reprehenderit quia ea. 2</b></i></p>
</body>
</html>