<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Nombre de libro</th>
            <th>Autor</th>
        </tr>
        <tr>
            <td>Cien años de soledad</td>
            <td>Gabriel García Márquez</td>
        </tr>
        <tr>
            <td>1984</td>
            <td>George Orwell</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>J.K. Rowling</td>
        </tr>
    </table>
</body>
</html>